<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062839427745-13uqouc9cnm5dopog6tuboa26j9v6mcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062839427745-13uqouc9cnm5dopog6tuboa26j9v6mcm</string>
	<key>API_KEY</key>
	<string>AIzaSyAdfkLKQcJgEs18dGwyqt6HMREUxwS3y64</string>
	<key>GCM_SENDER_ID</key>
	<string>1062839427745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningFlutter</string>
	<key>PROJECT_ID</key>
	<string>learning-flatter</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-flatter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062839427745:ios:c0f5a547299e3ace1586e0</string>
</dict>
</plist>